/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29/10/2023, 23:57:41
    Author     : jmess
*/

/* Estilos para el encabezado */
body {
            font-family: 'Montserrat', sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
        }
        .header {
         padding: 10px;
            text-align: center;
            background: white;
          }

          .header h1 {
            font-size: 50px;
          }

/* Style the top navigation bar */
        .topnav {
          overflow: hidden;
          background-color: #333;
        }

/* Style the topnav links */
        .topnav a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
header {
    background-color: #333; 
    color: #fff; /* Color del texto del encabezado */
    text-align: center;
    padding: 20px;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #333; /* Color de los enlaces de navegación */
    font-weight: bold;
}

/* Estilos para las secciones de contenido */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f7f7f7; /* Color de fondo de las secciones */
    border: 1px solid #ddd; /* Borde de las secciones */
}

/* Estilos para el pie de página */
footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    text-align: center;
    padding: 10px;
}
.cursos{
  overflow: hidden;
  background-color: #333;
  padding:10px;
}
.cursos ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
.cursos li a{
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
.cursos li a:hover {
  background-color: #555;
  color: white;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}